.Project_global {
  height: 513px;
}

/* Default chap tugma (prev arrow) uchun CSS */
.slick-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  left: -40px;
  color: lightgray;
  border-radius: 50%;
  border: 1px solid hsl(217.2 32.6% 17.5%);
  opacity: 0.8;
  transition: background 0.3s, transform 0.3s;
}

.slids {
  border: 1px solid hsl(217.2 32.6% 17.5%);
}

/* Hover bo‘lganda chap tugma */
.slick-prev:hover {
  background-color: hsl(217.2 32.6% 17.5%);
}

/* Default o‘ng tugma (next arrow) uchun CSS */
.slick-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  right: -40px;
  color: lightgray;
  font-weight: bolder;

  border-radius: 50%;
  border: 1px solid hsl(217.2 32.6% 17.5%);
  opacity: 0.8;
  transition: background 0.3s, transform 0.3s;
}
/* Hover bo‘lganda o‘ng tugma */
.slick-next:hover {
  background-color: hsl(217.2 32.6% 17.5%);
}
