.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.about ::selection {
  background-color: transparent;
}

.about_text {
  max-width: 650px;
  width: 100%;
}
.about_text .about_title,
h3,
p {
  background: linear-gradient(90deg, #423e5c -100%, #fff 40%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.about_text > .about_title {
  font-size: 35px;
  line-height: 50px;
  letter-spacing: -1.073px;
}
.about_text > h3 {
  max-width: 500px;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1.073px;
  margin-bottom: 29px;
}
.about_text p {
  max-width: 650px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 29px;
}

/* ------------------- */

.slider_container {
  width: 500px;
}
.slider_container > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid hsl(217.2 32.6% 17.5%);
  border-radius: 999px;
  background-color: hsl(222.2 84% 4.9%);
  color: white;
}

.slider_container > span:hover {
  color: white;
  background-color: hsl(217.2 32.6% 17.5%);
}

.slider_container > span .disabled {
  opacity: 0.5;
  pointer-events: none !important;
}

.slider_container > span > .icon {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.slick-slide {
  padding-bottom: 15px;
}

.slider_carousel {
  padding: 24px;
  height: 286px;
}

.card > h3 {
  height: calc(286px - 48px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #423e5c;
  text-align: center;
  border: 1px solid hsl(217.2 32.6% 17.5%);
  border-radius: 0.5rem;
}

.carousel-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
}

.top-button {
  top: -20px;
}

.bottom-button {
  bottom: -20px;
}
